#include <windows.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_CONFIG DIALOGEX 0, 0, 122, 83
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "CSV Plugin Config"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Delimiter:",IDC_LABEL_DELIMITER,7,7,42,10
    COMBOBOX        IDC_COMBO_DELIMITER,62,5,50,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Header:",IDC_LABEL_HEADER,7,23,42,10
    COMBOBOX        IDC_COMBO_HEADER,62,21,50,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Read size (MB):",IDC_LABEL_READSIZE,7,39,52,10
    EDITTEXT        IDC_EDIT_READSIZE,62,37,50,12,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "OK",IDOK,6,63,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,66,63,50,14
END
